<section name="game-field" class="game-field-class">
	<div class="field-top">
		<div class="field left-field">
			<% if (FIELD_LF) { %>
				<div class="player" data-enum="FIELD_LF">
					<% if (FIELD_LF.fieldSide === 'HOME') { %>
						<img src="./images/caps/defenseCap-135-dg.png" alt="">
					<% } else { %>
						<img src="./images/caps/offenseCap-135-dg.png" alt="">
					<% } %>
					<span><%= FIELD_LF.name %></span>
				</div>
			<% } %>
		</div>
		<div class="field center-field">
			<% if (FIELD_CF) { %>
				<div class="player" data-enum="FIELD_CF">
					<% if (FIELD_CF.fieldSide === 'HOME') { %>
						<img src="./images/caps/defenseCap-180-dg.png" alt="">
					<% } else { %>
						<img src="./images/caps/offenseCap-180-dg.png" alt="">
					<% } %>
					<span><%= FIELD_CF.name %></span>
				</div>
			<% } %>
		</div>
		<div class="field right-field">
			<% if (FIELD_RF) { %>
				<div class="player" data-enum="FIELD_RF">
					<% if (FIELD_RF.fieldSide === 'HOME') { %>
						<img src="./images/caps/defenseCap-225-dg.png" alt="">
					<% } else { %>
						<img src="./images/caps/offenseCap-225-dg.png" alt="">
					<% } %>
					<span><%= FIELD_RF.name %></span>
				</div>
			<% } %>
		</div>
	</div>
	<div class="field-bases">
		<div class="base-part left-base-part">
			<div class="base third-base">
				<% if (FIELD_3B) { %>
					<div class="player" data-enum="FIELD_3B">
						<% if (FIELD_3B.fieldSide === 'HOME') { %>
							<img src="./images/caps/defenseCap-135-dg.png" alt="">
						<% } else { %>
							<img src="./images/caps/offenseCap-135-dg.png" alt="">
						<% } %>
						<span><%= FIELD_3B.name %></span>
					</div>
				<% } %>
				<% if (BATTER_3R) { %>
					<div class="player" data-enum="BATTER_3R">
						<% if (BATTER_3R.fieldSide === 'HOME') { %>
							<img src="./images/caps/defenseCap-135-dg.png" alt="">
						<% } else { %>
							<img src="./images/caps/offenseCap-135-dg.png" alt="">
						<% } %>
						<span><%= BATTER_3R.name %></span>
					</div>
				<% } %>
			</div>
			<div class="base short-stop">
					<% if (FIELD_SS) { %>
						<div class="player" data-enum="FIELD_SS">
							<% if (FIELD_SS.fieldSide === 'HOME') { %>
								<img src="./images/caps/defenseCap-135-dg.png" alt="">
							<% } else { %>
								<img src="./images/caps/offenseCap-135-dg.png" alt="">
							<% } %>
							<span><%= FIELD_SS.name %></span>
						</div>
					<% } %>
					<% if (BATTER_SS) { %>
						<div class="player" data-enum="BATTER_SS">
							<% if (BATTER_SS.fieldSide === 'HOME') { %>
								<img src="./images/caps/defenseCap-135-dg.png" alt="">
							<% } else { %>
								<img src="./images/caps/offenseCap-135-dg.png" alt="">
							<% } %>
							<span><%= BATTER_SS.name %></span>
						</div>
					<% } %>
				</div>
		</div>
		<div class="base-part center-base-part">

			<div class="on-left-central-part">
				<div class="base on-left-catcher">
					<% if (BATTER_RH) { %>
						<div class="player" data-enum="BATTER_RH">
							<% if (BATTER_RH.fieldSide === 'HOME') { %>
								<img src="./images/caps/defenseCap-45-dg.png" alt="">
							<% } else { %>
								<img src="./images/caps/offenseCap-45-dg.png" alt="">
							<% } %>
							<span><%= BATTER_RH.name %></span>
						</div>
					<% } %>
				</div>
			</div>

			<div class="middle-central-part">
				<div class="base second-base">
					<% if (FIELD_2B) { %>
						<div class="player" data-enum="FIELD_2B">
							<% if (FIELD_2B.fieldSide === 'HOME') { %>
								<img src="./images/caps/defenseCap-180-dg.png" alt="">
							<% } else { %>
								<img src="./images/caps/offenseCap-180-dg.png" alt="">
							<% } %>
							<span><%= FIELD_2B.name %></span>
						</div>
					<% } %>
					<% if (BATTER_2R) { %>
						<div class="player" data-enum="BATTER_2R">
							<% if (BATTER_2R.fieldSide === 'HOME') { %>
								<img src="./images/caps/defenseCap-180-dg.png" alt="">
							<% } else { %>
								<img src="./images/caps/offenseCap-180-dg.png" alt="">
							<% } %>
							<span><%= BATTER_2R.name %></span>
						</div>
				<% } %>
				</div>
				<div class="base pitcher">
					<% if (FIELD_P) { %>
						<div class="player" data-enum="FIELD_P">
							<% if (FIELD_P.fieldSide === 'HOME') { %>
								<img src="./images/caps/defenseCap-180-dg.png" alt="">
							<% } else { %>
								<img src="./images/caps/offenseCap-180-dg.png" alt="">
							<% } %>
							<span><%= FIELD_P.name %></span>
						</div>
					<% } %>
				</div>
				<div class="base catcher">
					<% if (FIELD_C) { %>
						<div class="player" data-enum="FIELD_C">
							<% if (FIELD_C.fieldSide === 'HOME') { %>
								<img src="./images/caps/defenseCap-0-dg.png" alt="">
							<% } else { %>
								<img src="./images/caps/offenseCap-0-dg.png" alt="">
							<% } %>
							<span><%= FIELD_C.name %></span>
						</div>
					<% } %>
				</div>
			</div>

			<div class="on-right-central-part">
				<div class="base on-right-catcher">
					<% if (BATTER_LH) { %>
						<div class="player" data-enum="BATTER_LH">
							<% if (BATTER_LH.fieldSide === 'HOME') { %>
								<img src="./images/caps/defenseCap-315-dg.png" alt="">
							<% } else { %>
								<img src="./images/caps/offenseCap-315-dg.png" alt="">
							<% } %>
							<span><%= BATTER_LH.name %></span>
						</div>
					<% } %>
				</div>
			</div>

		</div>
		<div class="base-part right-base-part">
			<div class="base first-base">
				<% if (FIELD_1B) { %>
					<div class="player" data-enum="FIELD_1B">
						<% if (FIELD_1B.fieldSide === 'HOME') { %>
							<img src="./images/caps/defenseCap-225-dg.png" alt="">
						<% } else { %>
							<img src="./images/caps/offenseCap-225-dg.png" alt="">
						<% } %>
						<span><%= FIELD_1B.name %></span>
					</div>
				<% } %>
				<% if (BATTER_1R) { %>
					<div class="player" data-enum="BATTER_1R">
						<% if (BATTER_1R.fieldSide === 'HOME') { %>
							<img src="./images/caps/defenseCap-225-dg.png" alt="">
						<% } else { %>
							<img src="./images/caps/offenseCap-225-dg.png" alt="">
						<% } %>
						<span><%= BATTER_1R.name %></span>
					</div>
				<% } %>
			</div>
		</div>
	</div>
</section>