<section name="game-field" class="game-field-class">
	<div class="field-top">
		<div class="field left-field">
			<% if (FIELD_LF) { %>
				<div class="player">
					<img src="./images/defenseCap.png" alt="">
					<span><%= FIELD_LF.name %></span>
				</div>
			<% } %>
		</div>
		<div class="field center-field">
			<% if (FIELD_CF) { %>
				<div class="player">
					<img src="./images/defenseCap.png" alt="">
					<span><%= FIELD_CF.name %></span>
				</div>
			<% } %>
		</div>
		<div class="field right-field">
			<% if (FIELD_RF) { %>
				<div class="player">
					<img src="./images/defenseCap.png" alt="">
					<span><%= FIELD_RF.name %></span>
				</div>
			<% } %>
		</div>
	</div>
	<div class="field-bases">
		<div class="base-part left-base-part">
			<div class="base third-base">
				<% if (FIELD_3B) { %>
					<div class="player">
						<img src="./images/defenseCap.png" alt="">
						<span><%= FIELD_3B.name %></span>
					</div>
				<% } %>
				<% if (BATTER_3R) { %>
					<div class="player">
						<img src="./images/offenseCap.png" alt="">
						<span><%= BATTER_3R.name %></span>
					</div>
				<% } %>
			</div>
			<div class="base short-stop">
					<% if (FIELD_SS) { %>
						<div class="player">
							<img src="./images/defenseCap.png" alt="">
							<span><%= FIELD_SS.name %></span>
						</div>
					<% } %>
				</div>
		</div>
		<div class="base-part center-base-part">

			<div class="on-left-central-part">
				<div class="base on-left-catcher">
					<% if (BATTER_LH) { %>
						<div class="player">
							<img src="./images/offenseCap.png" alt="">
							<span><%= BATTER_LH.name %></span>
						</div>
					<% } %>
				</div>
			</div>

			<div class="middle-central-part">
				<div class="base second-base">
					<% if (FIELD_2B) { %>
						<div class="player">
							<img src="./images/defenseCap.png" alt="">
							<span><%= FIELD_2B.name %></span>
						</div>
					<% } %>
					<% if (BATTER_2R) { %>
					<div class="player">
						<img src="./images/offenseCap.png" alt="">
						<span><%= BATTER_2R.name %></span>
					</div>
				<% } %>
				</div>
				<div class="base pitcher">
					<% if (FIELD_P) { %>
						<div class="player">
							<img src="./images/defenseCap.png" alt="">
							<span><%= FIELD_P.name %></span>
						</div>
					<% } %>
				</div>
				<div class="base catcher">
					<% if (FIELD_C) { %>
						<div class="player">
							<img src="./images/defenseCap.png" alt="">
							<span><%= FIELD_C.name %></span>
						</div>
					<% } %>
				</div>
			</div>

			<div class="on-right-central-part">
				<div class="base on-right-catcher">
					<% if (BATTER_RH) { %>
						<div class="player">
							<img src="./images/offenseCap.png" alt="">
							<span><%= BATTER_RH.name %></span>
						</div>
					<% } %>
				</div>
			</div>

		</div>
		<div class="base-part right-base-part">
			<div class="base first-base">
				<% if (FIELD_1B) { %>
					<div class="player">
						<img src="./images/defenseCap.png" alt="">
						<span><%= FIELD_1B.name %></span>
					</div>
				<% } %>
				<% if (BATTER_1R) { %>
					<div class="player">
						<img src="./images/offenseCap.png" alt="">
						<span><%= BATTER_1R.name %></span>
					</div>
				<% } %>
			</div>
		</div>
	</div>
</section>