<section class="table-column left-table">
	<section class="game-interruption-buttons">
		<button id="pause_btn" class="menu-btn pause_btn">Pause</button>
		<button id="abandon_btn" class="menu-btn abandon_btn">Abandon</button>
	</section>
	<div class="left-player-info">
		<span class="player-role"><%= leftTeam.currentPlayer.role.displayText %></span>
		<span class="player-name"><%= leftTeam.currentPlayer.name %></span>
		<span class="player-year"><%= leftTeam.city %></span>
		<div class="player-skills-container">
			<% _.each(leftTeam.currentPlayer.skills, function(skill) { %>
				<% if (skill.dynamic) { %>
					<div class="player-skills">
						<span class="skill-name"><%= skill.skillName %>:</span>
						<span class="skill-level"><%= skill.level %></span>
					</div>
					<div class="player-skills stamina-status">
						<% var staminaPercentage = Math.round(100 * (skill.currentLevel / skill.level)) %>
						<div class="stamina-line <% if (staminaPercentage <= 1) { %>red<% } else if (staminaPercentage <= 30) { %>yellow<% } %>" style="width:<%= staminaPercentage %>%;"></div>
						<div class="player-skills">
							<span class="stamina-text"><%= skill.skillName %></span>
							<span class="stamina-text"><%= skill.currentLevel %>(<%= staminaPercentage %>%/100%)</span>
						</div>
					</div>
				<% } else { %>
					<div class="player-skills">
						<span class="skill-name"><%= skill.skillName %>:</span>
						<span class="skill-level level-<%= skill.level %>"><%= skill.levelName %></span>
					</div>
				<% } %>
			<% }) %>
		</div>
	</div>
	<div class="left-team-info">
		<div class="team-info">
			<div class="user-field">
				<span class="user-name"><%= thisUser.user.userName %></span>
				<span class="team-city"><%= leftTeam.city %></span>
			</div>
			<div class="team-status">
				<% if (leftTeam.role === "OFFENSE") { %>
					<img src="./images/caps/offenseCap-135-dg.png" alt="">
				<% } else {%>
					<img src="./images/caps/defenseCap-135-dg.png" alt="">
				<% } %>
			</div>
		</div>
		<table>
			<thead class="team-info-head">
				<tr>
					<th>PLAYER</th>
					<th>POSITION</th>
				</tr>
			</thead>
			<tbody class="team-info-body">
				<% _.each(leftTeam.players, function(player) { %>
					<tr>
						<td><%= player.name %><% if (player.showAnnotation) { %><img src="./images/baseball_ball.png" alt=""><% } %></td>
						<td><%= player.position.displayText %></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</section>
<section class="table-column center-table">
	<div class="game-table">
		<div class="game-table-left">
			<div class="game-statistic">
				<table>
					<caption class="game-name">
						<span><%= scoresTable.displayText %></span>
					</caption>
					<thead class="game-stats-head">
						<tr>
							<th>
								<div class="ball">
									<img src="./images/baseball_ball.png" alt="">
								</div>
							</th>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>
							<th>9</th>
							<th>10</th>
							<th></th>
							<th>R</th>
							<th>H</th>
							<th>E</th>
						</tr>
					</thead>
					<tbody class="game-stats-body">
						<tr>
							<td><%= scoresTable.thisTeam.city %></td>
							<% for(var round = 0; round < 10; round++){ %>
								<% if (scoresTable.thisTeam.scores[round]){ %>
									<td><%= scoresTable.thisTeam.scores[round].scores %></td>
								<% } else { %>
									<td>.</td>
								<% } %>
							<% } %>
							<th></th>
							<td><%= scoresTable.thisTeam.runs %></td>
							<td><%= scoresTable.thisTeam.hits %></td>
							<td><%= scoresTable.thisTeam.errors %></td>
						</tr>
						<tr>
							<td><%= scoresTable.otherTeam.city %></td>
							<% for(var round = 0; round < 10; round++){ %>
								<% if (scoresTable.otherTeam.scores[round]){ %>
									<td><%= scoresTable.otherTeam.scores[round].scores %></td>
								<% } else { %>
									<td>.</td>
								<% } %>
							<% } %>
							<th></th>
							<td><%= scoresTable.otherTeam.runs %></td>
							<td><%= scoresTable.otherTeam.hits %></td>
							<td><%= scoresTable.otherTeam.errors %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="game-table-right">
			<div class="game-status">
				<div class="status-row game-out">
					<span>OUT:</span>
					<div class="status-circle <% if (scoresTable.currentOuts > 0) { %>error<% } %>">

					</div>
					<div class="status-circle <% if (scoresTable.currentOuts > 1) { %>error<% } %>">

					</div>
				</div>
				<div class="status-row game-h">
					<span>H:</span>
					<div class="status-circle <% if (scoresTable.currentHits) { %>success<% } %>">

					</div>
				</div>
				<div class="status-row game-e">
					<span>E:</span>
					<div class="status-circle <% if (scoresTable.currentErrors) { %>error<% } %>">

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="game-state-block">
		<% if (gameStateLine1 && gameStateLine1 !== "(n/a)") { %>
			<div class="state-line first">
				<span><%= gameStateLine1 %></span>
			</div>
		<% } %>
		<% if (gameStateLine2 && gameStateLine2 !== "(n/a)") { %>
			<div class="state-line">
				<span><%= gameStateLine2 %></span>
			</div>
		<% } %>
		<% if (gameStateLine3 && gameStateLine3 !== "(n/a)") { %>
			<div class="state-line">
				<span><%= gameStateLine3 %></span>
			</div>
		<% } %>
	</div>
</section>
<section class="table-column right-table">
	<section class="opponent-status">
		<span class="opponent-in-game <% if (otherUser.user.presence === 'ONLINE') { %>online<% } else { %>offline<% } %>"></span>
		<span class="status-text">OPPONENT STATUS</span>
	</section>
	<div class="right-player-info">
		<span class="player-role"><%= rightTeam.currentPlayer.role.displayText %></span>
		<span class="player-name"><%= rightTeam.currentPlayer.name %></span>
		<span class="player-year"><%= rightTeam.city %></span>
		<div class="player-skills-container">
			<% _.each(rightTeam.currentPlayer.skills, function(skill) { %>
				<% if (skill.dynamic) { %>
					<div class="player-skills">
						<span class="skill-name"><%= skill.skillName %>:</span>
						<span class="skill-level"><%= skill.level %></span>
					</div>
					<div class="player-skills stamina-status">
						<% var staminaPercentage = Math.round(100 * (skill.currentLevel / skill.level)) %>
						<div class="stamina-line <% if (staminaPercentage <= 1) { %>red<% } else if (staminaPercentage <= 30) { %>yellow<% } %>" style="width:<%= staminaPercentage %>%;"></div>
						<div class="player-skills">
							<span class="stamina-text"><%= skill.skillName %></span>
							<span class="stamina-text"><%= skill.currentLevel %>(<%= staminaPercentage %>%/100%)</span>
						</div>
					</div>
				<% } else { %>
					<div class="player-skills">
						<span class="skill-name"><%= skill.skillName %>:</span>
						<span class="skill-level level-<%= skill.level %>"><%= skill.levelName %></span>
					</div>
				<% } %>
			<% }) %>
		</div>
	</div>
	<div class="right-team-info">
		<div class="team-info">
			<div class="user-field">
				<span class="user-name"><%= otherUser.user.userName %></span>
				<span class="team-city"><%= rightTeam.city %></span>
			</div>
			<div class="team-status">
				<% if (rightTeam.role === "OFFENSE") { %>
					<img src="./images/caps/offenseCap-135-dg.png" alt="">
				<% } else {%>
					<img src="./images/caps/defenseCap-135-dg.png" alt="">
				<% } %>
			</div>
		</div>
		<table>
			<thead class="team-info-head">
				<tr>
					<th>PLAYER</th>
					<th>POSITION</th>
				</tr>
			</thead>
			<tbody class="team-info-body">
				<% _.each(rightTeam.players, function(player) { %>
					<tr>
						<td><%= player.name %><% if (player.showAnnotation) { %><img src="./images/baseball_ball.png" alt=""><% } %></td>
						<td><%= player.position.displayText %></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</section>
