<div class="form-group">
  <label for="gameSelectChoice"><%= message %></label>
  <select class="form-control" id="gameSelectChoice">
    <% _.each(list, function(games){
     if(games.state == 'RUNNING' || games.state == 'INVITING' || games.state == 'ACCEPTED'){ %>
		<option value="<%= games.gameUUID %>">You VS <%= games.opponentUserName %> (<%= games.state %>)</option>
	<% }}) %>
  </select>
</div>
<button type="button"><%= confirm %></button>