<% _.each(properties, function(prop){ %>
	<% if (prop) { %>
		<td class="<%= prop.className %>"><%= prop.displayValue %></td>
	<% } %>
<% }) %>
<td class="with-select">
	<select name="player-position" class="position">
		<option selected value>---</option>
		<% _.each(positions, function(position){ %>
			<option value="<%= position.enumText %>"><%= position.displayText %></option>
		<% }) %>
	</select>
</td>
<td class="with-select">
	<select name="batting-order" class="batting" disabled>
		<option selected value>---</option>
		<% for (var index = 1; index <=8; index++) { %>
			<option value="<%= index %>">BO:<%= index %></option>
		<% } %>
	</select>
</td>
<td class="with-checkbox hidden">
	<input type="checkbox" name="select-player" disabled></input>
</td>