<td class="with-name"><%= displayText %></td>
<td class="with-select">
	<div class="player-role" data-role="<%= role.enumText %>">
		<span><%= role.displayText %></span>
	</div>
</td>
<td class="with-text">SP</td>
<td class="with-rating"><span data-rating="<%= pitcherRating.enumText %>"><%= pitcherRating.displayText %></span></td>
<td class="with-checkbox starter">
	<input type="radio" name="select-player"></input>
</td>