<%
if(flag)
    {
_.each(properties, function(prop){ %>
	<% if (prop) { %>
		<td class="<%= prop.className %>"><%= prop.displayValue %></td>
	<% } %>
<% }) %>
<td class="with-select">
	<select name="player-position" disabled class="position">
		<option value>---</option>
		<% _.each(positions, function(position){ %>
			<option value="<%= position.enumText %>"><%= position.displayText %></option>
		<% }) %>
	</select>
</td>
<td class="with-select">
	<select name="batting-order" disabled class="batting">
		<option  selected value>---</option>
		<% for (var index = 1; index <=9; index++) { %>
			<option value="<%= index %>">BO:<%= index %></option>
		<% } %>
	</select>
</td>
<td class="with-checkbox">
	<input type="checkbox" class="CurrentPlayers" oldPlayerRoleId="<%= playerRoleId %>" oldLeagueId="<%= leagueId %>" oldSeasonId="<%= seasonId %>" oldPlayerId="<%= playerId %>" name="select-player" checked />
</td>
<%
}
else
    {
%>
<%_.each(properties, function(prop){ %>
	<% if (prop) { %>
		<td class="<%= prop.className %>"><%= prop.displayValue %></td>
	<% } %>
<% }) %>
<td class="with-select">
	<select name="player-position"  class="position">
		<option value>---</option>
		<% _.each(positions, function(position){ %>
			<option value="<%= position.enumText %>"><%= position.displayText %></option>
		<% }) %>
	</select>
</td>
<td class="with-select">
	<select name="batting-order" disabled class="batting">
		<option  selected value>---</option>
		<% for (var index = 1; index <=9; index++) { %>
			<option value="<%= index %>">BO:<%= index %></option>
		<% } %>
	</select>
</td>
<td class="with-checkbox">
	<input type="radio" class="AvailablePlayers"  newPlayerRoleId="<%= playerRoleId %>"  newLeagueId="<%= leagueId %>" newSeasonId="<%= seasonId %>" newPlayerId="<%= playerId %>" newPosition="<%= position.enumText %>" name="select-player"/>
</td>

<%
    }
%>
