<section class="card-player">
	<div class="player-photo">
		<img src="<%= imageURL %>" alt="">
	</div>
	<div class="player-info">
		<div class="player-name">
			<h3 class="name"><%= playerName %></h3>
			<h4 class="position"><%= role.displayText %></h4>
		</div>
		<div class="player-additional card-g-p">
			<span>Born: <%= playerInfo.born %></span>
			<span>Height: <%= playerInfo.height %></span>
			<span>Weight: <%= playerInfo.weight %></span>
			<span>Bats: <%= playerInfo.bats %></span>
			<span>Throws: <%= playerInfo.throws %></span>
		</div>
	</div>
	<i class="fa fa-times close" aria-hidden="true" name="close"></i>
</section>
<section class="card-stats">
	<div class="record batting-record">
		<div class="records-title">
			<h4>Batting Record</h4>
		</div>
		<div class="records-table">
			<table>
				<thead>
					<tr>
						<th>Year<i class="divider">|</i></th>
						<th>Age<i class="divider">|</i></th>
						<th>Lg<i class="divider">|</i></th>
						<th>Lev<i class="divider">|</i></th>
						<th>G<i class="divider">|</i></th>
						<th>PA<i class="divider">|</i></th>
						<th>AB<i class="divider">|</i></th>
						<th>R<i class="divider">|</i></th>
						<th>H<i class="divider">|</i></th>
						<th>2B<i class="divider">|</i></th>
						<th>3B<i class="divider">|</i></th>
						<th>HR<i class="divider">|</i></th>
						<th>RBI<i class="divider">|</i></th>
						<th>SB<i class="divider">|</i></th>
						<th>CS<i class="divider">|</i></th>
						<th>BB<i class="divider">|</i></th>
						<th>SO<i class="divider">|</i></th>
						<th>BA</th>
					</tr>
				</thead>
				<tbody>
					<% _.each(records.batting.seasons, function(season) { %>
						<tr>
							<% _.each(season, function(fieldValue) { %>
								<td><%= fieldValue %></td>
							<% }) %>
						</tr>
					<% }) %>
					<tr class="seasons-sum">
						<td colspan="4" class="seasons-text">2 Seasons</td>
						<td class="empty"></td>
						<td class="empty"></td>
						<td class="empty"></td>
						<% _.each(records.batting.seasonsSum, function(fieldValue) { %>
							<% if(Math.round(fieldValue) === fieldValue) { %>
								<td><%= fieldValue %></td>
							<% } else { %>
								<td><%= fieldValue.toFixed(3) %></td>
							<% } %>
						<% }) %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="record fielding-record">
		<div class="records-title">
			<h4>Fielding Record</h4>
		</div>
		<div class="records-table">
			<table>
				<thead>
					<tr>
						<th>Year<i class="divider">|</i></th>
						<th>Age<i class="divider">|</i></th>
						<th>Lg<i class="divider">|</i></th>
						<th>Lev<i class="divider">|</i></th>
						<th>...<i class="divider">|</i></th>
						<th>G<i class="divider">|</i></th>
						<th>Ch<i class="divider">|</i></th>
						<th>PO<i class="divider">|</i></th>
						<th>A<i class="divider">|</i></th>
						<th>E<i class="divider">|</i></th>
						<th>DP<i class="divider">|</i></th>
						<th>Fld%<i class="divider">|</i></th>
						<th>RF/G</th>
					</tr>
				</thead>
				<tbody>
					<% _.each(records.fielding.seasons, function(season) { %>
						<tr>
							<% _.each(season, function(fieldValue) { %>
								<td><%= fieldValue %></td>
							<% }) %>
						</tr>
					<% }) %>
					<tr class="seasons-sum">
						<td colspan="5" class="seasons-text">2 Seasons</td>
						<td class="empty"></td>
						<td class="empty"></td>
						<td class="empty"></td>
						<td class="empty"></td>
						<% _.each(records.fielding.seasonsSum, function(fieldValue) { %>
							<% if(Math.round(fieldValue) === fieldValue) { %>
								<td><%= fieldValue %></td>
							<% } else { %>
								<td><%= fieldValue.toFixed(3) %></td>
							<% } %>
						<% }) %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
<section class="card-footer">
	<div class="card-year">
		<span class="year"><%= season %></span>
	</div>
	<div class="card-ball">
		<span class="players-team"><%= teamName %></span>
	</div>
</section>