<section class="card-top">
	<h4><%= displayText %></h4>
	<i class="fa fa-times" aria-hidden="true" name="close"></i>
</section>
<section class="card">
	<img src="<%= imageURL %>" alt="">
	<span class="season"><%= seasonDisplayText %></span>
	<span><%= playerDisplayText %></span>
	<span class="year"><%= year %></span>
</section>