<% if(flag) {
	_.each(properties, function(prop){ %>
		<% if (prop) { %>
			<td class="<%= prop.className %>"><%= prop.displayValue %></td>
		<% } %>
	<% }) %>
	<td class="with-select">
		<select name="player-position" class="position" disabled>
			<% _.each(positions, function(position) { %>
				<option value="<%= position.enumText %>" <% if (position.enumText === currentPosition.enumText) { %>selected<% } %> ><%= position.displayText %></option>
			<% }) %>
		</select>
	</td>
	<td class="with-select">
		<select name="batting-order" class="batting" disabled>
			<% for (var index = 1; index <=9; index++) { %>
				<option value="<%= index %>" <% if (index == battingOrder) { %>selected<% } %> >BO:<%= index %></option>
			<% } %>
		</select>
	</td>
	<% if (!onePlayer) { %>
		<td class="with-checkbox">
			<input type="radio" name="old-player" class="select-player" />
		</td>
	<% } %>
<% } else { %>
	<%_.each(properties, function(prop){ %>
		<% if (prop) { %>
			<td class="<%= prop.className %>"><%= prop.displayValue %></td>
		<% } %>
	<% }) %>
	<td class="with-select">
		<select name="player-position"  class="position">
			<% _.each(positions, function(position){ %>
				<option value="<%= position.enumText %>" <% if (position.enumText === currentPosition.enumText) { %>selected<% } %> ><%= position.displayText %></option>
			<% }) %>
		</select>
	</td>
	<td class="with-select">
		<select name="batting-order" class="batting" disabled>
			<% for (var index = 1; index <=9; index++) { %>
				<option value="<%= index %>" <% if (index == battingOrder) { %>selected<% } %> >BO:<%= index %></option>
			<% } %>
		</select>
	</td>
	<td class="with-checkbox">
		<input type="radio" name="new-player" class="select-player" />
	</td>
<% } %>
