<% if(flag) { %>
	<div class="select-player">
		<div class="player-expand toggle-expand">
			<i class="fa fa-chevron-circle-down expand down" aria-hidden="true"></i>
			<i class="fa fa-chevron-circle-down expand up" aria-hidden="true"></i>
		</div>
		<div class="player-name toggle-expand"><%= playerName %></div>
		<div class="with-select">
			<div class="fake-select position disabled">
				<span><%= currentPosition.displayText %></span>
			</div>
		</div>
		<div class="with-select">
			<div class="fake-select batting disabled">
				<span>BO:<%= battingOrder %></span>
			</div>
		</div>
		<div class="with-checkbox">
			<input type="radio" name="select-player"></input>
		</div>
	</div>
	<div class="player-info">
		<table>
			<thead>
				<tr>
					<% _.each(headings, function(heading){ %>
						<td><%= heading.displayText %></td>
					<% }) %>
				</tr>
			</thead>
			<tbody>
				<tr>
					<% _.each(properties, function(prop){ %>
						<% if (prop) { %>
							<td class="<%= prop.className %>"><%= prop.displayValue %></td>
						<% } %>
					<% }) %>
				</tr>
			</tbody>
		</table>
	</div>
<% } else { %>
	<div class="select-player">
		<div class="player-expand toggle-expand">
			<i class="fa fa-chevron-circle-down expand down" aria-hidden="true"></i>
			<i class="fa fa-chevron-circle-down expand up" aria-hidden="true"></i>
		</div>
		<div class="player-name toggle-expand"><%= playerName %></div>
		<div class="with-select">
			<select name="player-position" class="position">
				<% _.each(positions, function(position){ %>
					<option value="<%= position.enumText %>" <% if (position.enumText === currentPosition.enumText) { %>selected<% } %> ><%= position.displayText %></option>
				<% }) %>
			</select>
		</div>
		<div class="with-select">
			<div class="fake-select batting disabled">
				<span>BO:<%= battingOrder %></span>
			</div>
		</div>
		<div class="with-checkbox">
			<input type="radio" name="select-available-player"></input>
		</div>
	</div>
	<div class="player-info">
		<table>
			<thead>
				<tr>
					<% _.each(headings, function(heading){ %>
						<td><%= heading.displayText %></td>
					<% }) %>
				</tr>
			</thead>
			<tbody>
				<tr>
					<% _.each(properties, function(prop){ %>
						<% if (prop) { %>
							<td class="<%= prop.className %>"><%= prop.displayValue %></td>
						<% } %>
					<% }) %>
				</tr>
			</tbody>
		</table>
	</div>
<% } %>